<div class="row" *ngIf="formData">
    <div class="col-md-12">
        <nb-card>
            <nb-card-header>
                Profile
            </nb-card-header>
            <nb-card-body>
                <div class="row">
                    <div class="col-md-4">
                        <div *ngIf="formData.selectedImagePath">
                            <img [src]="formData.selectedImagePath" alt="Selected Image" width="200" height="200" />
                        </div>
                    </div>
                    <div class="col-md-8">
                        <p>
                            I'm <b> {{formData.firstName}} {{formData.lastName}}</b> and Im above <b>{{formData.age}}</b> years and you
                            can send your emails to <b> {{formData.emailId}}</b>. I live in <b>{{formData.state}}</b>, the state of
                            <b>{{formData.country}}</b>. I like to play
                            <span *ngFor="let tag of formData.tags; index as i"><b>{{tag}},</b>
                                <!-- <span *ngIf="i > 1">,</span> <span *ngIf="i <= formData.tags.length - 1 && !(i > 1)"> and </span> -->
                            </span>.
                            <span *ngIf="formData.newsLetter">And please send me newsletters.</span>
                            Please reach out to me on my <b>{{formData.phoneNumber}}</b> phone number.
                        </p>
                    </div>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
</div>

<div class="row" *ngIf="!formData">
    <div class="col-md-12">
        <h4>Please Register First</h4>
    </div>
</div>
